/* developer edit css */

.button-32 {
    background-color: #f99a9a;
    /* Reddish shade */
    border-radius: 100px;
    box-shadow: rgba(255, 0, 0, .2) 0 -25px 18px -14px inset, rgba(255, 0, 0, .15) 0 1px 2px, rgba(255, 0, 0, .15) 0 2px 4px, rgba(255, 0, 0, .15) 0 4px 8px, rgba(255, 0, 0, .15) 0 8px 16px, rgba(255, 0, 0, .15) 0 16px 32px;
    color: black;
    cursor: pointer;
    display: inline-block;
    font-family: CerebriSans-Regular, -apple-system, system-ui, Roboto, sans-serif;
    padding: 7px 20px;
    text-align: center;
    text-decoration: none;
    transition: all 250ms;
    border: 0;
    font-size: 16px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.button-32:hover {
    box-shadow: rgba(255, 0, 0, .35) 0 -25px 18px -14px inset, rgba(255, 0, 0, .25) 0 1px 2px, rgba(255, 0, 0, .25) 0 2px 4px, rgba(255, 0, 0, .25) 0 4px 8px, rgba(255, 0, 0, .25) 0 8px 16px, rgba(255, 0, 0, .25) 0 16px 32px;
    transform: scale(1.05) rotate(-1deg);
}

.button-33 {
    appearance: none;
    backface-visibility: hidden;
    background-color: #27ae60;
    border-radius: 8px;
    border-style: none;
    box-shadow: rgba(39, 174, 96, .15) 0 4px 9px;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: Inter, -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: normal;
    line-height: 1.5;
    outline: none;
    overflow: hidden;
    padding: 13px 20px;
    position: relative;
    text-align: center;
    text-decoration: none;
    transform: translate3d(0, 0, 0);
    transition: all .3s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: top;
    white-space: nowrap;
}

.button-33:hover {
    background-color: #1e8449;
    opacity: 1;
    transform: translateY(0);
    transition-duration: .35s;
}

.button-33:active {
    transform: translateY(2px);
    transition-duration: .35s;
}

.button-33:hover {
    box-shadow: rgba(39, 174, 96, .2) 0 6px 12px;
}

.button-45 {
    align-items: center;
    background-color: #FFE7E7;
    background-position: 0 0;
    border: 1px solid #FEE0E0;
    border-radius: 11px;
    box-sizing: border-box;
    color: #D33A2C;
    cursor: pointer;
    display: flex;
    font-size: 1rem;
    font-weight: 700;
    line-height: 33.4929px;
    list-style: outside url(https://www.smashingmagazine.com/images/bullet.svg) none;
    padding: 2px 12px;
    text-align: left;
    text-decoration: none;
    text-shadow: none;
    text-underline-offset: 1px;
    transition: border .2s ease-in-out, box-shadow .2s ease-in-out;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    word-break: break-word;
}

.button-45:active,
.button-45:hover,
.button-45:focus {
    outline: 0;
}

.button-45:active {
    background-color: #D33A2C;
    box-shadow: rgba(0, 0, 0, 0.12) 0 1px 3px 0 inset;
    color: #FFFFFF;
}

.button-45:hover {
    background-color: #FFE3E3;
    border-color: #FAA4A4;
}

.button-45:active:hover,
.button-45:focus:hover,
.button-45:focus {
    background-color: #D33A2C;
    box-shadow: rgba(0, 0, 0, 0.12) 0 1px 3px 0 inset;
    color: #FFFFFF;
}

.button-90 {
    align-items: center;
    background-color: #0A66C2;
    border: 0;
    border-radius: 100px;
    box-sizing: border-box;
    color: #ffffff;
    cursor: pointer;
    display: inline-flex;
    font-family: -apple-system, system-ui, system-ui, "Segoe UI", Roboto, "Helvetica Neue", "Fira Sans", Ubuntu, Oxygen, "Oxygen Sans", Cantarell, "Droid Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Lucida Grande", Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 600;
    justify-content: center;
    line-height: 20px;
    max-width: 480px;
    min-height: 40px;
    min-width: 0px;
    overflow: hidden;
    padding: 0px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    touch-action: manipulation;
    transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: middle;
}

.button-90:hover,
.button-90:focus {
    background-color: #16437E;
    color: #ffffff;
}

.button-90:active {
    background: #09223b;
    color: rgb(255, 255, 255, .7);
}

.button-90:disabled {
    cursor: not-allowed;
    background: rgba(0, 0, 0, .08);
    color: rgba(0, 0, 0, .3);
}

.radius_bgColor {
    border-radius: 15px;
    background-color: #0048ff4d;
}

.alert-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.3);
    /* Semi-transparent background */
    z-index: 999;
    /* Higher z-index to appear on top of other elements */
}

.alert {
    /* Your existing alert styles */
    /* Example styles */
    background: #d4edda;
    color: black;
    padding: 20px;
    border-radius: 25px;
    border-color: #155724;
}

.alertClose {
    cursor: pointer;
    float: right;
    font-size: 20px;
    font-weight: bold;
}

.alertText {
    margin-top: 10px;
}

.alert-overlay-loding {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.3);
    /* Semi-transparent background */
    z-index: 999;
    /* Higher z-index to appear on top of other elements */
}
.alert-loding {
    background: rgba(11, 11, 11, 0.594);
    color: black;
    padding: 20px;
    border-radius: 25px;
    border-color: #155724;
}
.alert-container {
    position: fixed;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fcaeae;
    padding: 20px;
    border: 1px solid #ddd;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.alert-content {
    text-align: center;
    display: flex;
    justify-content: space-between;
}

.close-btn {
    cursor: pointer;
    float: right;
    font-size: 30px;
    font-weight: bold;
}

/* login and register input css */
.otp-field {
    flex-direction: row;
    column-gap: 10px;
    display: flex;
    align-items: center;
    /* justify-content: center; */
  }
  
  .otp-field input {
    height: 45px;
    width: 42px;
    border-radius: 6px;
    outline: none;
    font-size: 1.125rem;
    text-align: center;
    border: 1px solid #ddd;
  }
  .otp-field input:focus {
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  }
  .otp-field input::-webkit-inner-spin-button,
  .otp-field input::-webkit-outer-spin-button {
    display: none;
  }

  .modal-close {
    color: #aaa;
    line-height: 50px;
    font-size: 80%;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    width: 70px;
    text-decoration: none;
    &:hover {
      color: black;
    }
  }

  .textCenter{
    text-align: center;
  }

  .titleLabel{
    font-weight: bolder;
    color: #333;
  }
  .padTop20{
    padding:20px 0px 0px 0px;
  }
  .marginLeft20{
    margin: 0px 0px 0px 20px;
  }

  .showAlert{
   width: 500px;
   border-radius: 25px;
  }
  .text-color{
    color: #155724;
  }
  .text-padding{
    padding: 10px;
  }

  .wrapper{
    width:100%;
  }
  @media(max-width:992px){
   .wrapper{
    width:100%;
  } 
  }
  div.panel-heading {
      background-color   :#cffcd9 !important;
  }
  div.panel-heading a:before{
      content: none !important;
  }
  .panel-heading {
    padding: 0;
      border:0;
  }
  .panel-title>a, .panel-title>a:active{
      display:block;
      padding:15px;
    color:#555;
    font-size:16px;
    font-weight:bold;
      text-transform:uppercase;
      letter-spacing:1px;
    word-spacing:3px;
      text-decoration:none;
  }
  .panel-heading  a:before {
     font-family: 'Glyphicons Halflings';
     content: "\e114";
     float: right;
     transition: all 0.5s;
  }
  .panel-heading.active a:before {
      -webkit-transform: rotate(180deg);
      -moz-transform: rotate(180deg);
      transform: rotate(180deg);
  } 
  
 .font-size{
    font-size: large;
    color: #212529;
 }
 .padding20{
    padding-top: 20px;
 }
 .table-fixed{
    width: 100%;
 }
 .thead-bgColor{
    background-color: white;
 }
 .button-br{
    border-radius: 20px !important;
 }
 .srcMarginTop{
    margin-top: 10PX;
 }


 .table-striped>tbody>tr:nth-of-type(odd){
    --bs-table-accent-bg: rgb(255 255 255 / 0%);
    color: var(--bs-table-striped-color);
 }
 
 
 .table-hover>tbody>tr:hover{
    --bs-table-accent-bg: rgb(25 135 84 / 70%);
    color:white;
    
 }

 .btn-outline-success:hover{
    border-color: white;
    box-sizing: 10px;
 }
 .inputBorder{
    border-radius: 10px;
 }
 .text-colors{
    color: #089f00;
 }
 .formGroup{
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
 }
 .cardContainer{
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
 }
 .paddingTop{
    padding-top: 20px;
 }
 @media (max-width: 768px) { /* Adjust the breakpoint according to your design */
  .hideMobile {
    display: none !important;
  }
}

.textGreen{
  color: #089f00;
}
.textRed{
  color: #ff1d1d;
}

.table-containerTwo{
  max-height: 400px;
  /* Adjust the height as needed */
  overflow-y: auto;
}
.bgColor{
  background-color: white;
}
.padding-Top{
  padding-top: 0px;
  margin-top: 0px;
}
.pBottom{
  padding-bottom: 20px;
}
.fontPading{
font-size: 26px;
padding: 0px 10px 0px 10px;
}
